
/* Common */
html, body {
	height: 100%;
    background-color: #f5f5f5;
}

.main-nav {
	float: left;
	margin-left: 15px !important;
	margin-right: 0;
}

.top-menu {
	display: none;
}

.action-nav {
    display: none;
    padding-right: 15px;
}

.nav .search-nav {
    width: 180px;
    margin-right: 10px;
    padding-top: 11px;
}

.nav .search-nav input {
    background: rgba(0,0,0,.2);
    color: rgba(255,255,255,.6);
    border: none;
}

.nav .search-nav button {
    background: rgba(0,0,0,.2);
    border: none;
    color: rgba(255,255,255,.6);
    height: 30px;
}

@media(min-width: 768px) {
	.top-menu {
        display: block;
	}
}

.pre {
	white-space: pre;
    display: block;
    /* 
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    */
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    overflow: auto;
}

.w10  { width: 10px; }
.w20  { width: 20px; }
.w30  { width: 30px; }
.w40  { width: 40px; }
.w50  { width: 50px; }
.w60  { width: 60px; }
.w70  { width: 70px; }
.w80  { width: 80px; }
.w90  { width: 90px; }
.w100 { width: 100px; }
.w120 { width: 120px; }
.w140 { width: 140px; }
.w150 { width: 150px; }
.w160 { width: 160px; }
.w180 { width: 180px; }
.w200 { width: 200px; }
.w220 { width: 220px; }
.w240 { width: 240px; }
.w260 { width: 260px; }
.w280 { width: 280px; }
.w300 { width: 300px; }

.w48p { width: 48%; }

.mr2p { margin-right: 2%; }
.ml2p { margin-left: 2%; }


/* Bitbucket like */
.navbar-bitbucket {
    background-color: #205081;
    border-color: #2e3d54;
}

.navbar-bitbucket a {
    color: #fff;
}

.navbar-bitbucket .navbar-toggle {
    border-color: #fff;
}

.navbar-bitbucket .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-bitbucket .navbar-toggle:hover,
.navbar-bitbucket .navbar-nav a:hover,
.navbar-bitbucket .navbar-nav a:focus,
.navbar-bitbucket .navbar-nav>.open>a,
.navbar-bitbucket .navbar-nav>.open>a:focus,
.navbar-bitbucket .navbar-nav>.open>a:hover {

   background-color: #3572b0;
   color: #fff;
}

.result {
    margin-bottom: 10px;
}

.result .result-area {
    height: 100%
}

@media (min-width: 600px) {
    .result .result-label {
        padding-top: 7px;
        padding-right: 20px;
        display: inline;
    }

    .result .result-order {
        display: inline;
        width: 200px;
    }
}

.btn.badge {
    border-radius: 10px;
}

.time-picker {
    width: 80px;
}

.required {
    font-size: 0.1px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: #d9534f;
}

.text-area {
    resize: vertical;
    height: 100px !important;
}

@media (min-width: 768px) {
    .required {
        position: absolute;
    }

    .text-area {
        height: 400px !important;
    }
}


.content-band {
    font-size: 30px;
    margin-top: 20px;
}

.label-lg {
    width: 100%;
}


/* modal系 */
.modal div.bootstrap-select {
    width: 100% !important;
}


/**
* /record/* に適用
*/

.record .side-nav {
    height:100%;
    width:60px;
    position: absolute;
}

.record .side-nav ul li {
    border-bottom: 1px solid #e7e7e7;
}

.record .side-nav ul li i
{
    font-size: x-large;
}

.record .side-nav ul li a.active {
    background-color: #eee;
}

.record .side-nav ul li a span
{
    display: none;
}

.record #page-wrapper {
    margin: 0 0 0 60px;
}

.record .row {
    border-left: 1px solid #eee;
}

@media (min-width: 768px) {

    .record .side-nav {
        width:140px;
    }

    .record .side-nav ul li a span
    {
        display: inline-block;
    }

    .record #page-wrapper {
        margin: 0 0 0 140px;
    }
}

.record .action-nav {
	float: right;
}

.record .action-nav button {
    color: #fff;
    font-size: 18px;
    margin-top: 6px;
    margin-right: 1px;
}

.record .action-nav button.btn-link.active {
	background-color: #3572b0;
	border-radius: 3px;
}

.record .caption {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.record .caption .btn-add {
    display: none;
    float: right !important;
    margin-top: 15px;
}

.record .cal-area {
	margin-bottom: 20px;
}

.record .cal-area #calendar {
    margin-top: 20px;
}

.record .action-nav {
    display: block;
}

@media(min-width: 768px) {
	.record .caption .btn-add {
		display: block;
	}

	.record .action-nav {
	    display: none;
    }
}

.record .content .content-item {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.record .content .content-body {
    margin-bottom: 10px;
    font-size: initial;
}

.record .content .content-body.txt {
    white-space: pre;
    display: block;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    overflow: auto;
}

.record .search-result .chat button 
{
    padding: 0 0;
}


.record .affix-nav .nav {
    padding-left: 30px;
}

.record .affix-nav>.nav li>.nav {
    display: none;
}

.record .affix-nav>.nav li.active>.nav {
    display: block;
}

.record .affix-nav .nav a {
    padding: 3px;
}

.record .affix-nav .nav a>i{
    display: none; 
}

.record .affix-nav .nav>.active>a>i {
    display: inline-block;
}



/* forumに適用 */
.forum .datetime {
    margin-left: 10px;
    display: none;
}

@media(min-width: 768px) {
    .forum .datetime {
        display: inline-block;
    }
}

.forum .detail {
    margin-bottom: 40px;
}

.forum .action-area {
    margin-bottom: 5px;
}

.forum .action-area .input-group {
    margin-bottom: 5px;
}

.forum .headline {
    margin-top: 20px;
    font-size: 80%;
}

.forum .content {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;   
}

.forum .first-content {
    margin-bottom: 40px;
}

.forum .first-content .content-head span {
    margin-left: 10px;
}

.forum .post-form {
    margin-bottom: 40px;
}



/**
* overwrite
*/

/* bootstrap */

.row {
    background-color: #fff;
}

@media(max-width: 768px) {
	.page-header {
       margin: 20px 0 10px;
    }
} 


/* ab-admin2 */

#wrapper, #page-wrapper {
	min-height: 100%;
    height: 100%;
}

@media(min-width: 768px) {
	.toggle-nav {
		display: none;
	}
}


/* query.mmenu.all.css */

@media(min-width: 768px) {
	.mm-menu {
        max-width: 300px;
	}    
}

@media (min-width: 768px) {
    html.mm-opening .mm-slideout {
    	-webkit-transform: translate(300px, 0);
        -moz-transform: translate(300px, 0);
        -ms-transform: translate(300px, 0);
        -o-transform: translate(300px, 0);

        transform: translate(300px, 0);
    }
}

.mm-page {
	min-height: 100%;
    height: 100%;
    /* フッターの高さ分だけ、ネガティブインデントを指定 */
    /* margin: 0 auto -51px; */
    /* フッターの高さ分だけ、パディングを指定 */
    /*padding-bottom: 51px;*/
}

.mm-menu {
	background: #205081;
	color: #fff;
}

.mm-navbar {
	height: 50px;
	border-color:#2e3d54;
}

.mm-menu .mm-navbar a
{
	color: #fff;
	margin-top: 5px;
}

.mm-listview {
	margin-top: -10px !important;
}

.mm-menu .mm-listview > li .mm-next:after,
.mm-menu .mm-listview > li .mm-arrow:after {
   border-color: #fff
}

.mm-menu .mm-navbar .mm-btn:before, 
.mm-menu .mm-navbar .mm-btn:after {
    border-color: #fff;
}

.mm-listview > li, 
.mm-listview > li:after, 
.mm-listview > li .mm-next, 
.mm-listview > li .mm-next:before {
   border-color: #2e3d54;
}

/**
 *  FullCalendar
 */

.fc {
	margin-bottom: 15px;
}

.fc-header {
	/*margin-top: 10px; */
}

.fc-header-title h2 {
    font-size: 20px;
    float: left;
}

@media(max-width: 768px) {
	.fc {
		margin-bottom: 30px;
	}
}

.fc-sun { color: red; }
.fc-sat { color: blue; }
